body {
  background-color: aqua;
  /* background-image: url(https://images.dog.ceo/breeds/pug/n02110958_12808.jpg); */
  align-items: center;
}
header {
  text-align: center;
  padding: auto;
  margin: auto;
}
main {
  padding: auto;
  margin: auto;
  text-align: center;
}
