body {
  background-color: aqua;
  /* background-image: url(https://images.dog.ceo/breeds/pug/n02110958_12808.jpg); */
  align-items: center;
}
header {
  text-align: center;
  padding: auto;
  margin: auto;
}
main {
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 75px);
  grid-template-rows: repeat(5, 74px);
  border: 5px solid black;
  width: 445px;
  height: 370px;
}
