body {
  background-color: aqua;
  align-items: center;
}
header {
  text-align: center;
  padding: auto;
  margin: auto;
}
main {
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 110px);
  grid-template-rows: repeat(5, 110px);
  border: 5px solid black;
  width: 550px;
  height: 550px;
}
main div {
  border: 5px solid black;
  background-color: antiquewhite;
  text-align: center;
}
footer {
  text-align: center;
}
section {
  margin: auto;
  padding: 50px;
  display: inline-block;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.white {
  background-color: antiquewhite;
}
